<div class="container">
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <br>
            <h1>Eat da Burger</h1>
            <img src="../../public/assets/img/burger.png" alt="burger">
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div>
            {{#each burgers}}
                 <div>{{this.burger_name}}  - <button>Eat it</button></div>
            {{/each}}
        </div>
        <div class="offset-md-1 col-md-3">
            <textarea cols="40" rows="3"></textarea>  
            <br>
            <button>Add burger</button>
        </div>
        <div class="offset-md-2 col-md-3">
            {{#each burgers}}
                <div>{{this.burger_name}}</div>
            {{/each}}
        </div>
    </div>
</div>
