<div class="container">
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <br>
            <h1>Eat da Burger</h1>
            <img src="../public/assets/img/burger.png" alt="burger">
        </div>
    </div>
</div>
<br>
<br>

{{!-- Delivered burgers --}}
<div class="container">
    <div class="row">
        
        <div>
             {{#each burgers}}
                {{#unless this.devoured}}
                    <form class=“form-inline” action=“/{{this.id}}?_method=PUT” method=“POST”>
                    {{this.burger_name}}  - <button type="submit" class="eat">Eat it</button>
                    </form>
                {{/unless}}
            {{/each}}
        </div>
        
{{!-- Requested burger --}}
        <form action="/api/burgers" method="POST">
        <div class="offset-md-2 col-md-3">
            <textarea id-="burgerName" name="burger_name" cols="20" rows="3"></textarea>  
            <br>
            <button type="submit" class="addBurger">Add burger</button>
        </div>
        </form>

{{!-- devoured burgers --}}
        <div class="offset-md-2 col-md-3">
            {{#each burgers}}
                {{#if devoured}}
                    <div text-decoration="line-through">{{this.burger_name}}</div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
