body{
    background-color:white;
    background-image: linear-gradient(rgb(225,226,255), rgb(32,72,255));
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}

.trash{
    height: 20px;
    margin-right: 10px;
}

.delete{
    margin-left: 10px;
}

.removeItem{
    display: flex;
}

.allGone{
    padding-left: 100px;
    text-decoration: line-through;
}

.icon{
    width: 30px;
    padding-right: 10px;
}

.orders{
    padding-bottom: 10px;
}

.eat{
    margin-left: 10px;
}

.burgerForm{
    margin-left: 110px;
}

.burgerName{
    width: 200px;
}

.allDone{
    margin-left: 60px;
}